<div class="container">
    <h3>Stream</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="requirements">

            <div class="row">
                <div class="col-6" id="streamName">
                    <input id="streamName" type="text"  placeholder="Stream name" formControlName="streamName" required>
                </div>
                <ng-container *ngIf="form.value.streamName !== '' ">
                    <div class="col-2">
                        <label class="tick"> &#10004;</label>
                    </div>
                </ng-container>
                <ng-container *ngIf="form.value.streamName == '' ">
                    <div class="col-4">
                        <label>Enter Stream Name </label>
                    </div>
                </ng-container>
            </div>

            <hr>

        </div>
        <div class="row button">
            <div class="col-12">
                <input type="submit" class="btn" value="Submit">
            </div>
        </div>
    </form>
</div>