<div class="body">
    <div class="container  ">
      <div class="card">
        <h1 class="head">Our Story</h1>
        <div class="rows">
          <div class="column">
         
            <p  class="paragraph" >  
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of type
              and scrambled it to make a type specimen book. It has survived not
              only five centuries, but also the leap into electronic typesetting,
              remaining essentially unchanged. It was popularised in the 1960s
              with the release of Letraset sheets containing Lorem Ipsum passages,
              and more recently with desktop publishing software like Aldus
              PageMaker including versions of Lorem Ipsum.
            </p>
          </div>
          <div class="column">
            <img src="https://i.ibb.co/8KpXBn3/Logo.png" alt=""/>
          </div>
        </div>
      </div>
    </div>
  </div>

  