<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!-- ICON -->
<div class="image w3-animate-top" id="icon" style="display: block"></div>
<!-- /ICON -->

<!-- SEARCH BAR -->
<div id="cover" style="z-index: 1000">

  <div class="tb">
    <div class="td">
      <input type="text" placeholder="Search Schools" [(ngModel)]="SearchTag" (input)="Search()" 
          id="searchbar"  onclick="displayFunction()">
    </div>
    <div class="td" id="s-cover" onclick="search_schools()">
      <button aria-label="Aria Name" type="submit" return="false">
        <div id="s-circle"></div>
        <span></span>
      </button>
    </div>
  </div>

  <br />

</div>
<!-- /SEARCH BAR -->

<!-- FILTER BAR -->
<div id="filter" style="display: none">
  <div class="dropdown show" id="filterbuttons">
    <a class="btn btn-secondary dropdown-toggle w3-animate-top" href="#" role="button" id="dropdownMenuLink2"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Province
    </a>

    <div class="dropdown-menu " aria-labelledby="dropdownMenuLink" id="dropdownmenu">
      <a class="dropdown-item">Gauteng</a>
      <hr>
      <a class="dropdown-item isDisabled" aria-disabled="true">Eastern Cape</a>
      <hr>
      <a class="dropdown-item isDisabled" aria-disabled="true">Kwa-Zulu Natal</a>
      <hr>
      <a class="dropdown-item isDisabled" aria-disabled="true">Limpopo</a>
      <hr>
      <a class="dropdown-item isDisabled" aria-disabled="true">Free State</a>
    </div>
  </div>

  <div class="dropdown show " id="filterbuttons">
    <a class="btn btn-secondary dropdown-toggle w3-animate-top" href="#" role="button" id="dropdownMenuLink"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      City/Town
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="dropdownmenu">
      <a value="secretariaat" class="dropdown-item" href="#">Johannesburg</a>
      <hr>
      <a class="dropdown-item" href="#">Pretoria</a>
      <hr>
      <a class="dropdown-item" href="#">Benoni</a>
      <hr>
      <a class="dropdown-item" href="#">Soweto </a>
      <hr>
      <a class="dropdown-item" href="#">Alberton</a>
      <hr>
      <a class="dropdown-item" href="#">Randburg</a>
    </div>

  </div>
</div>

<!-- /FILTER BAR -->

<!-- SCHOOL CARDS -->
<div id="sections" style="display: none;" class=" w3-animate-bottom">
  <div class="row">
    <div class="card schools blogBox moreBox" *ngFor="let file of schools
      
            | paginate: { itemsPerPage: 20, currentPage: p }">
      <div class="card-body">
        <h5 class="card-title ">{{ file.Institution_Name }}</h5>
        <hr><br>
        <div class="card-text ">
          <div class="item "></div>{{ file.Sector }}
          {{ file.Phase }}<br>
          Address: {{ file.StreetAddress }}<br>
          Email: {{file.E_Mail}}<br>
          Mobile No: {{ file.cellno }}<br>
          National Emis No: {{ file.NatEmis }}<br>
          <a class="btn btn-primary" href="application">Apply</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /SCHOOL CARDS -->




<div class="d-flex justify-content-center" id="paginate">
  <pagination-controls (pageChange)="onPageChange($event)" (pageBoundsCorrection)="onPageChange($event)"
    style="float: right;"></pagination-controls>
</div>


<button onclick="topFunction()" style="display:none ;" id="myBtn" title="Go to top">Top</button>