<div class="myContainer">

    <form action="https://formsubmit.co/pbhanina@gmail.com" method="POST" id="form">
        <h6>Have any Queries? </h6>
        <h6>Send us a message!</h6>
        <!-- name of the sender -->
        <div class="mb-3">

            <input type="text" name="name" required class="form-control" id="exampleFormControlInput1"
                placeholder="Your name">
        </div>
        <!-- Email of the sender  -->
        <div class="mb-3">

            <input type="email" name="email" required class="form-control" id="exampleFormControlInput1"
                placeholder="Your email">
        </div>
        <!-- Content of the email -->
        <div class="mb-3">

            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                placeholder="Your text"></textarea>
        </div>
        <button type="submit">Send</button>
        <input type="hidden" name="_next"
            value="file:///C:/Users/Geeks4learning/Desktop/Final-Project-School-Registration-System-tshiamo-masilo-patch-1/src/app/contact-us/thanks.html">
        <input type="hidden" name="_captcha" value="false" href="./thanks.html">
    </form>
</div>