.container {
    background-color: rgb(63, 63, 63, 0.5);
    height: fit-content;
    margin-top: 5px;
    color: WHITE;
    align-items: center;
    border-radius: 5px;
    width: 100vw;
    padding: 20px;
}

input {
    background-color: rgb(63, 63, 63, 0.0);
    border: none;
    width: 92%;
    height: 38px;
    border-radius: 5px;
    color: white;
    text-align: center;
    vertical-align: center;
    
}

input:hover {
    background-color: darkgray;
    color: aliceblue;
}

select {
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: rgb(63, 63, 63, 0.0);
    border: none;
    width: 92%;
    height: 38px;
    border-radius: 5px;
    color: white;
}

option {
    background-color: gray
}

::placeholder {
    color: white;
    text-align: left;
}

label {
    padding-top: 35px;
}

.btn {
    background-color: rgb(37, 41, 43);
    width: 100%;
}

h3 {
    text-align: center
}

hr {
    opacity: 100%;
    border: 0.1px solid white;
    margin-bottom: 20%;
    margin: auto;
}

.tick {
    color: limegreen;
    text-decoration: bold;
}

.applicants {
    margin-bottom: 7px;

}

.status{
    background-color: rgb(63, 63, 63, 0.5);
    margin-top: 15px;
    color: white;
    border-radius: 5px;
    width: 15vw;
}
#header{
    margin-left: 8%;
}

.red {
    color: red;
}

.green {
    color: lime;
}

.yellow {
    color: yellow;
}