<div class="container">
  <form  [formGroup]="updates" (ngSubmit)="update()" >
    <h2 class="text-uppercase text-center mb-5">1.PERSONAL INFORMATION</h2>

    <!--FIRST NAME FOR CONTACTS-->
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg" >Full Name:</label>
      </div>
      <div class="col-6"><input value="{{fff}}" type="text"formControlName="fullName"required minlength="4"/>
        </div>
    </div>


    <!--identification for contanct-->
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg"
          >Identification Number:</label
        >
      </div>
      <div class="col-6"><input value="{{Identification}}" type="text" formControlName="identification" readonly/></div>
    </div>

    <!--Gender/Sex  button for contanct-->
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Gender/Sex:</label>
      </div>
      <div class="col-6"><input value="{{Gender}}" type="text" formControlName="identification" readonly/></div>
    </div>
   

    <!-- date of birth -->
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Date Of Birth</label>
      </div>
      <div class="col-6"><input value="{{DateOfBirth}}" type="text" formControlName="identification" readonly/></div>
    </div>

    <!--nationality for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Nationality:</label>
      </div>
      <div class="col-6"><input value="{{Nationality}}" type="text" formControlName="nationality"required/></div>
    </section>

    <!--HOME LANGUAGE for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Home Language:</label>
      </div>
      <div class="col-6"><input value="{{HomeLanguage}}" type="text" formControlName="homeLanguage"required/></div>
    </section>

    <!--MOBILE NUMBER for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Mobile Number:</label>
      </div>
      <div class="col-6"><input value="{{MobileNumber}}"  type="tel" formControlName="mobileNumber"required muinlength="10"/></div>
    </section>

    <h1 class="text-uppercase text-center mb-5">2.GUARDIAN INFORMATION</h1>

    <!--Full NAME for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Full Name:</label>
      </div>
      <div class="col-6"><input value="{{GuardianFullName}}" type="text" formControlName="guardianFullName"required/></div>
    </section>

   

    <!--email address for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Email Address:</label>
      </div>
      <div class="col-6">
        <input value="{{GuardianEmail}}" type="email" formControlName="guardianEmail"required />
      </div>
    </section>

    <!--phone number for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Phone Number:</label>
      </div>
      <div class="col-6"><input value="{{GuardianPhoneNumber}}" type="tel" formControlName="guardianPhoneNumber" required/></div>
    </section>

    <!--home address for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Home Address:</label>
      </div>
      
      <div class="col-6"><input value="{{Address}}" type="text" formControlName="address"required/></div>
    </section>

    <!--POSTAL for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Postal:</label>
      </div>
      <div class="col-6"><input value="{{code}}" type="text" style="width: 30%" formControlName="postalCode" required /></div>
    </section>

    <!-- update button -->
    <section class="row">
      <div class="col-6"></div>

      <div class="col-6">
        <button type="submit" class="btn btn-outline-dark" >UPDATE</button>
      </div>
    </section>
  </form>
</div>
