<div class="container">
  <form  [formGroup]="updates" (ngSubmit)="update()" >
    <h2 class="text-uppercase text-center mb-5">1.PERSONAL INFORMATION</h2>

    <!--FIRST NAME FOR CONTACTS-->
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg" >Full Name:</label>
      </div>
      <div class="col-6"><input type="text"
         formControlName="fullName"placeholder="ctreturtjytyu"required minlength="4"/></div>
    </div>


    <!--identification for contanct-->
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg"
          >Identification Number:</label
        >
      </div>
      <div class="col-6"><input type="text" formControlName="identification" readonly/></div>
    </div>

    <!--Gender/Sex  button for contanct-->
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Gender/Sex:</label>
      </div>
      <div class="col-6">
        <select name="dropdown-toggle"style="background-color: grey"type="button"class="btn btn-primary dropdown-toggle"data-bs-toggle="dropdown"aria-expanded="false">
       
          <option value="SELECT">---SELECT---</option>
          <option value="MALE">MALE</option>
          <option value="FEMALE">FEMALE</option>
          <option value="FEMALE">PREFER NOT TO SAY</option>
          
        </select>
          
      </div>
    </div>

    <!-- date of birth -->
    <section class="row">
      <div class="col-6"><label for="start">Date Of Birth:</label></div>
      <div class="col-6">
        <input
          style="border-radius: 10px; height: 40px; width: 200px"
          type="date"
          id="start"
          name="trip-start"
          value="2018-07-22"
          min="2018-01-01"
          max="2018-12-31"
          required
        />
      </div>
    </section>

    <!--nationality for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Nationality:</label>
      </div>
      <div class="col-6"><input type="text" formControlName="nationality"required/></div>
    </section>

    <!--HOME LANGUAGE for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Home Language:</label>
      </div>
      <div class="col-6"><input type="text" formControlName="homeLanguage"required/></div>
    </section>

    <!--MOBILE NUMBER for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Mobile Number:</label>
      </div>
      <div class="col-6"><input type="tel" formControlName="mobileNumber"required muinlength="10"/></div>
    </section>

    <h1 class="text-uppercase text-center mb-5">2.GUARDIAN INFORMATION</h1>

    <!--Full NAME for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Full Name:</label>
      </div>
      <div class="col-6"><input type="text" formControlName="guardianFullName"required/></div>
    </section>

   

    <!--email address for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Email Address:</label>
      </div>
      <div class="col-6">
        <input type="email" placeholder=" E.g email@gmail.com "formControlName="guardianEmail"required />
      </div>
    </section>

    <!--phone number for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Phone Number:</label>
      </div>
      <div class="col-6"><input type="tel" formControlName="guardianPhoneNumber" required/></div>
    </section>

    <!--home address for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Home Address:</label>
      </div>
      
      <div class="col-6"><input type="text" formControlName="address"required/></div>
    </section>

    <!--POSTAL for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Postal:</label>
      </div>
      <div class="col-6"><input type="text" style="width: 30%" formControlName="postalCode" required /></div>
    </section>

    <!-- update button -->
    <section class="row">
      <div class="col-6"></div>

      <div class="col-6">
        <button type="submit" class="btn btn-outline-dark" >UPDATE</button>
      </div>
    </section>
  </form>
</div>
