<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="https://material.angular.io/components/select/overview#select-value-binding">

<h1>Application Form</h1>

<div class="container">
  <form action="">

    <h3 class="heading">1. Personal information</h3>
    <hr>
    <div class="row">
      <div class="col-6">
        <label for="fname">Full name:</label>
      </div>

      <div class="col-6">
        <input type="text" id="name" name="name" />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="Idnumber">Identification number:</label>
      </div>

      <div class="col-6">
        <input type="number" id="Identification number" name="Idnumber" maxlength="13" />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="date of Birth">Date of Birth:</label>
      </div>

      <div class="col-6">
        <input type="text" id="date" name="date" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="Nationality">Nationality:</label>
      </div>

      <div class="col-6">
        <input type="text" id="Nationality" name="Nationality" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Gender:</label>
      </div>

      <div class="col-6">
        <input type="text" id="Gender" name="Gender" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fAddress">Home Address</label>
      </div>

      <div class="col-6">
        <input type="text" id="Address" name="Address" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fhomeLanguage">Home Language:</label>
      </div>

      <div class="col-6">
        <input type="text" id="Language" name="Language" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Mobile Number:</label>
      </div>

      <div class="col-6">
        <input type="tel" id="Mobile Number" name="Phone" maxlength="10" pattern="[0-9]{1}[0-9]{9}">
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Email address:</label>
      </div>

      <div class="col-6">
        <input type="email" id="Email Adress" name="Email address">
      </div>
    </div>


    <h3 class="heading">2. Guardian information</h3>
    <hr>

    <div class="row">
      <div class="col-6">
        <label for="fname">Full name:</label>
      </div>

      <div class="col-6">
        <input type="text" id="name" name="name" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Language:</label>
      </div>

      <div class="col-6">
        <input type="text" id="Language" name="Language" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Relationship with the applicant:</label>
      </div>

      <div class="col-6">
        <input type="text" id="name" name="name" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Phone number:</label>
      </div>

      <div class="col-6">
        <input type="text" id="Number" name="number" />
      </div>
    </div>


    <h3 class="heading">3. Academic Records</h3>
    <hr>

    <div class="row">
      <div class="col-6">
        <label for="fname">Previous school name:</label>
      </div>
      <div class="col-6">
        <input type="text" id="Schoolname" name="Scoolname" />
      </div>

      <div class="col-6">
        <label for="fname">If a returning leaner tick the box:</label>

      </div>


    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Previous grade completed:</label>
      </div>

      <div class="col-6">
        <input type="text" id="grade" name="grade" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Please upload your Documents/Report here:</label>


      </div>
      <section>
        <div class="drag">
          <h3>Upload your file</h3>
          <div class="drag-area">
            <div class="icon">
              <i class="fas fa-images"></i>
            </div>
            <span class="header">Drag and Drop</span>
            <span class="header">or <span class="button">browse</span></span>
            <input type="file" hidden>
            <span class="support">Supports:JPEG, JPG, PNG</span>
          </div>
        </div>
      </section>

      <div class="row">
        <div class="col-6">
        <label for="fname">Streams offered</label>
      </div>

        <div class="col-6">
        <select name="Dropdown-menu" id="Select">
          <option value="option0">Select </option>
          <option value="option1">Science Stream </option>
          <option value="option2">General Stream</option>
          <option value="option3">Commerce Stream</option>
          select [(value)]="selected">
          <p>Chosen Stream: (value)</p>
        </select>
        </div>

      </div>



      <div class="col-6">
        <label for="fname">Subject</label>

        <div class="row">
          <div class="col-6">
            <label for="fname">Requirements</label>
          </div>

        </div>

      </div>

    </div>
  </form>
</div>