<h1 style="text-align: center;font-size: 40px;">Application Form</h1>
<hr style="height: 20px; width: 100%; ">




<div class="container">
  <form action="">
    <u>
      <h3 class="heading">1.Personal information</h3>
    </u>
    <div class="row">
      <div class="col-6">
        <label for="fname">Full name:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="Idnumber">Identification number:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <label for="date of Birth">Date of Birth:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="Nationality">Nationality:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Nationality:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fAddress">Home Address</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fhomeLanguage">Home Language:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Mobile Number:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <u>
      <h3 class="heading">2.Gaurdian information</h3>
    </u>

    <div class="row">
      <div class="col-6">
        <label for="fname">Full name:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Language:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Relationship with the applicant:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Phone number:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <u>
      <h3 class="heading">3.Academic Records</h3>
    </u>

    <div class="row">
      <div class="col-6">
        <label for="fname">Previous school name:</label>
      </div>
      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>

      <div class="col-6">
        <label for="fname">If a returning leaner tick the box:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Previous grade completed:</label>
      </div>

      <div class="col-6">
        <input type="text" id="fname" name="fname" />
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <label for="fname">Please upload your Documents/Report here:</label>
      </div>
    </div>
  </form>
</div>
