<div
  class="mask d-flex align-items-center h-100 gradient-custom-3"
  ngClass="Border"
>
  <div class="container h-100">
    <div style="position: relative; left: 60px; top: 10px">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 70px" id="border">
            <div class="card-body p-5" id="login-bg">
              <h2 class="text-uppercase text-center mb-5">Sign Up</h2>
              <hr class="line" />

              <form>
                <!--Questions-->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg"
                    >First Name</label
                  >
                  <input
                    type="text"
                    id="form3Example1cg"
                    class="form-control form-control-lg"
                    placeholder="First Name"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example1cg"
                    >Surname</label
                  >
                  <input
                    type="text"
                    id="form3Example1cg"
                    class="form-control form-control-lg"
                    placeholder="Surname"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg">Email</label>
                  <input
                    type="email"
                    id="form3Example3cg"
                    class="form-control form-control-lg"
                    placeholder="Example@email.co.za"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example3cg"
                    >Security Question</label
                  >
                  <input
                    type="email"
                    id="form3Example3cg"
                    class="form-control form-control-lg"
                    placeholder="What is the name of your favorite pet?"
                  />
                </div>

                <!--Passwords-->
                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg"
                    >Password</label
                  >
                  <input
                    type="password"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                    placeholder="Password"
                  />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form3Example4cdg"
                    >Confirm Password</label
                  >
                  <input
                    type="password"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                    placeholder=" Confirm Password"
                  />
                </div>
                <!--Sign Up button-->

                <div class="d-flex justify-content-center">
                  <button
                    type="button"
                    class="btn btn-secondary btn-lg"
                    ngClass="button"
                  >
                    Sign Up
                  </button>
                </div>
                <hr class="line2" />
                <!--Social media icon-->
                <div class="social-container">
                  <ul
                    class="social-icons d-flex gap-4 justify-content-center"
                    style="list-style: none"
                  >
                    <li>
                      <a href="#"><i class="fa fa-instagram"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                      <a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                  </ul>
                </div>
                <p class="text-center text-muted mt-5 mb-0">
                  Already a user?
                  <a href="#!" class="fw-bold text-body"><u>Login here</u></a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
