<section class="login-section">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <form>
              <h3>SIGN UP</h3>

              <hr class="my-4 mb-4" />
              <!--<form action="weblink" method="post">   post method-->
              <div class="form-outline mb-4">
                <label class="form-label" for="firstname">First Name</label>
                <input type="fname" id="firstname" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="lastname">Last Name</label>
                <input type="lname" id="lastname" class="form-control form-control-lg" />
              </div>

              <div class="form-outline mb-4">
                <label class="form-label" for="typeEmailX-2">Email</label>
                <input type="email" id="typeEmailX-2" class="form-control form-control-lg"
                  placeholder="example@email.com" /><br>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="security">Security Question</label>
                    <input type="security" id="security" class="form-control form-control-lg" placeholder="What is your favourite pet?" />
                  </div>

              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typePassword2">Password</label>
                <input type="password" id="typePassword2" class="form-control form-control-lg" />
              </div>
              <div class="form-outline mb-4">
                <label class="form-label" for="typePassword3">Confirm Password</label>
                <input type="password" id="typePassword3" class="form-control form-control-lg" />
                <span id='message'></span>
              </div>
              <button class="btn btn-primary btn-lg btn-block" type="submit">
                SIGNUP
              </button>
              <br><br>
              <div class="header__center">OR</div>

              <div class="social-links">
                <i class="fa fa-twitter" style="font-size:36px"></i>
                <i class="fa fa-envelope" style="font-size:36px"></i>
                <i class="fa fa-linkedin-square" style="font-size:36px"></i>
              </div>
              <p class="mt-3">Already a user?</p> <a class="mt-3" id="links" href="login">LOGIN</a>
            </form>
            <!--</form> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
   $('#typePassword2, #typePassword3').on('keyup', function () {
    if ($('#typePassword2').val() == $('#typePassword3').val()) {
      $('#message').html('Matching').css('color', 'green');
    } else 
      $('#message').html('Not Matching').css('color', 'red');
  });
</script>