/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(https://images.unsplash.com/photo-1497633762265-9d179a990aa6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1473&q=80);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
  }


  ::-webkit-scrollbar-track {
    background-color: transparent;
    background-color: rgb(207, 207, 207);
  }
  

  ::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    border-radius: 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(46, 53, 66, 0.9);
    border: 6px solid;
    background-clip: content-box;
  }

.error input{ 
    border: 1px solid red; 
  }
  
