/* You can add global styles to this file, and also import other style files */
body {
    background-image: url(./app/application/back/h.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   background-attachment: fixed;
    background-attachment: fixed;
    height: 100vh;
  }