<div class="container">
  <form>
    <h2 class="text-uppercase text-center mb-5">1.PERSONAL INFORMATION</h2>

    <!--FIRST NAME FOR CONTACTS-->
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">First Name:</label>
      </div>
      <div class="col-6"><input type="text" /></div>
    </div>

    <!--LAST NAME FOR CONTACTS-->
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Last Name:</label>
      </div>
      <div class="col-6"><input type="text" /></div>
    </div>

    <!--identification for contanct-->
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg"
          >Identification Number:</label
        >
      </div>
      <div class="col-6"><input type="text" /></div>
    </div>

    <!--Gender/Sex  button for contanct-->
    <div class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Gender/Sex:</label>
      </div>
      <div class="col-6">
        <button
          style="background-color: grey"
          type="button"
          class="btn btn-primary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Choose
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" href="#" style="background-color: grey"
              >MALE</a
            >
          </li>
          <li>
            <a class="dropdown-item" href="#" style="background-color: grey"
              >FEMALE</a
            >
          </li>
        </ul>
      </div>
    </div>

    <!-- date of birth -->
    <section class="row">
      <div class="col-6"><label for="start">Date Of Birth:</label></div>
      <div class="col-6">
        <input
          style="border-radius: 15px; height: 40px; width: 200px"
          type="date"
          id="start"
          name="trip-start"
          value="2018-07-22"
          min="2018-01-01"
          max="2018-12-31"
        />
      </div>
    </section>

    <!--nationality for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Nationality:</label>
      </div>
      <div class="col-6"><input type="text" /></div>
    </section>

    <!--HOME LANGUAGE for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Home Language:</label>
      </div>
      <div class="col-6"><input type="text" /></div>
    </section>

    <!--MOBILE NUMBER for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Mobile Number:</label>
      </div>
      <div class="col-6"><input type="text" /></div>
    </section>

    <h1 class="text-uppercase text-center mb-5">2.GUARDIAN INFORMATION</h1>

    <!--FIRST NAME for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">First Name:</label>
      </div>
      <div class="col-6"><input type="text" /></div>
    </section>

    <!--LAST NAME for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Last Name:</label>
      </div>
      <div class="col-6"><input type="text" /></div>
    </section>

    <!--email address for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Email Address:</label>
      </div>
      <div class="col-6">
        <input type="email" placeholder=" E.g email@gmail.com " />
      </div>
    </section>

    <!--phone number for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Phone Number:</label>
      </div>
      <div class="col-6"><input type="text" /></div>
    </section>

    <!--home address for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Home Address:</label>
      </div>
      <div class="col-6"><input type="text" /></div>
    </section>

    <!--POSTAL for contanct-->
    <section class="row">
      <div class="col-6">
        <label class="form-label" for="form3Example4cdg">Postal:</label>
      </div>
      <div class="col-6"><input type="text" style="width: 30%" /></div>
    </section>

    <!-- update button -->
    <section class="row">
      <div class="col-6"></div>

      <div class="col-6">
        <button type="button" class="btn btn-outline-dark">UPDATE</button>
      </div>
    </section>
  </form>
</div>
