.container {
    background-color: rgb(63, 63, 63, 0.5);
    height: fit-content;
    margin-top: 15px;
    color: WHITE;
    align-items: center;
    border-radius: 5px;
}
input {
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: rgb(63, 63, 63, 0.0);
    border: none;
    width: 92%;
    height: 38px;
    border-radius: 5px;
    color: white;
    text-align: center;
    vertical-align: center;
}
input:hover {
    background-color: darkgray;
    color: aliceblue;
}
::placeholder {
    color: white;
    text-align: left;
}
label {
    padding-top: 35px;
}
select {
    margin-bottom: 5%;
    margin-top: 5%;
    background-color: rgb(63, 63, 63, 0.0);
    border: none;
    width: 92%;
    height: 38px;
    border-radius: 5px;
    color: white;
}
option {
    background-color: gray 
}
.btn {
    background-color: rgb(37, 41, 43);
    width: 100%;
}
h3 {
    text-align: center 
}
hr {
    opacity: 100%;
    border: 0.1px solid white;
    margin-bottom: 20%;
    margin: auto;
}
.tick {
    color: limegreen;
    text-decoration: bold;
}