.form-label{
    float: left;
}

.btn-primary{
    background-color: #AFADAC;
    border: none;
    box-shadow: 2px 2px #888888;
    width: 300px;
    margin: auto;
    border-radius: 15px;
    color: white;
}


.header__center {
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.2rem;
    align-items: center;
}

.header__center::before,
.header__center::after {
    content: "";
    display: block;
    height: 1px;
    background-color: currentColor;
}

.card{
    background-color: rgba(46,53,66,0.7);
    color: white;
    float: right;
    display: block;
}

.fa{
    padding-left: 15px;
    padding-right: 15px;
}

#links{
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

#links:hover{
    color: grey;
}
button{
    background-color: inherit;
    border-radius: 30px;
    border-color: #333;
}